:root {
    --main-color: rgba(0, 70, 145, 1);
    --accent-color: rgba(235, 0, 40, 1);
    /* palette TIM 2016*/
    --primary-blue: rgba(0, 70, 145, 1);
    --primary-red: rgba(235, 0, 40, 1);
    --ausiliario_a_01: #003264;
    --ausiliario_a_02: #376ea5;
    --ausiliario_a_03: #82b9e6;
    --ausiliario_a_04: #960028;
    --ausiliario_a_05: #c80028;
    --ausiliario_a_06: #ff825a;
    --ausiliario_b_01: #BEB991;
    --ausiliario_b_02: #dcd2cd;
    --ausiliario_b_03: #ebe6e1;
    --ausiliario_b_04: #a59173;
    --ausiliario_b_05: #dcc89b;
    --ausiliario_b_06: #fff0c3;
    --ausiliario_c_01: #008c55;
    --ausiliario_c_02: #82c85a;
    --ausiliario_c_03: #b4d28c;
    --ausiliario_c_04: #dc8200;
    --ausiliario_c_05: #fab932;
    --ausiliario_c_06: #fbd872;
    --ausiliario_c_07: #642d5f;
    --ausiliario_c_08: #6e69a0;
    --ausiliario_c_09: #aaa5c8;
    --ausiliario_c_10: #005a64;
    --ausiliario_c_11: #006e78;
    --ausiliario_c_12: #73a5a5;
}

